@import 'fonts.scss';

#questionaire-main {
	padding: 10px;
}

.item-row {
	display: block;
	border: 0.5px solid $font-color;
	border-radius: 5px;
	padding: 8px;
	margin: 8px;
	font-size: 12px;
}

.item-p,
.price-p,
.item-check {
	display: inline-block;
	margin: 5px;
	color: $font-color;
}

.price-p {
	float: right;
}

.item-check {
	float: right;
}
